@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); 
:root{
    --yellow:#f5bf23;
    --black:#111;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --box-shadow:0.5rem 1rem rgba(0,0,0,0.1);
    --border:.1rem solid rgba(0,0,0,.3);
}
*{
    font-family: 'POPPINS',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .2s linear;
}
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(1fr));
    gap:2rem;
}
 .titleText{
    font-size:2.5rem;
    color:var(--black);
    text-transform:capitalize;
}
.graphText{
    font-size:1.5rem;
    color:var(--light-color);
    line-height: 1.5;
}
.iconsBox{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size:2rem;
    background:var(--light-bg);
    color:var(--black);
    cursor:pointer;
    text-align:center; 
}
.iconBox:hover{
    background:var(--black);
    color:var(--white);
}
html{
    font-size:62.5%;
    overflow:scroll;
    scroll-behavior:smooth;
    scroll-padding-top:7rem;

    ::-webkit-scrollbar{
        width:1rem;
    }
    ::-webkit-scrollbar-track{
        background:transparent;
    }
    ::-webkit-scrollbar-thumb{
        background:var(--yellow);
    }
}
@keyframes fadeIn{
    0%{
        top:50%;
        opacity:0;
    }
}
.header{
    position:sticky;
    top:0;
    left:0;
    right:0;
    box-shadow:var(--box-shadow);
    padding:1.5rem 10%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    z-index:1000;  
    background: #fff; 
}
.logo{
    font-size:2.5rem;   
 }
 span{
     color:var(--yellow);
 }
.navbar a{
    font-size: 2rem;
    margin:0 1rem; 
}

.navbar a:hover{
     color:var(--yellow);   
}

.icons div{
    margin-left:.3rem;
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size:2rem;
    background:var(--light-bg);
    color:var(--black);
    cursor:pointer;
    text-align:center;
}
.icons div:hover{
    background:var(--black);
    color:var(--white); 
}
#menu-btn{
    display:none;
}


.search-form{
    position:absolute;
    top:120%;
    left: 50%;
    transform:translateX(-50%);
    width:70rem;
    background:var(--white);
    box-shadow:var(--box-shadow);
    padding:1rem;
    align-items:center;
    gap:1rem;
    display:none;
    transition: all .2s ease-out;
}

.active{
    display:flex;
}
.search-form input{
    width:90%;
    padding:1.2rem 1.4rem;
    background:var(--light-bg);
    font-size:1.6rem;
    color:var(--light-color);
    
}
.search-form label{
    font-size:2.5rem;
    color:var(--black);
    cursor:pointer;
    margin:0 1rem;
   }
.search-form label:hover{
    color:var(--yellow)
}

.contact-info{
   position:fixed;
   top:0;
   right:0;
   width:34rem;
   background:var(--white);
   height:100%;
   text-align:center;
   z-index:1100;
   padding:0 2rem;
   padding-top:4rem;
   display:none;
}
.active{
    box-shadow:0 0 0 100vw rgba(0,0,0,.7);
    display:block;

   }
#close-contact-info{
    position:absolute;
    top:1rem;
    right:1.5rem;
    cursor:pointer;
    font-size:3rem;
    color:var(--black);
}
#close-contact-info:hover{
    transform:rotate(90deg);
}
.info{
    padding:1rem 0;
}
.info i{
margin-bottom: .5rem;
height:5rem;
width:6rem;
line-height: 5rem;
font-size:2rem;
background:var(--light-bg);
color:var(--black);
cursor:pointer;
text-align:center;
}
.info h3{
    padding:1rem 0;
}
.info p{
    font-size:1.5rem;
    color:var(--light-color);
    line-height: 1.5;
}
.share{
    padding-top: 1rem;
}
.share a{
margin: 0 0.3rem;
height:3rem;
width:3rem;
line-height: 3rem;
font-size:2rem;
background:var(--light-bg);
color:var(--black);
cursor:pointer;
text-align:center;   
border-top: var(--border);
margin-top:0.2rem;
}

section{
    padding:5rem 10%;
}
.home{
    padding:0;
}
.slide{
    min-height: 60rem;
    display:flex;
    align-items: center;
    position:relative;
    background-size: cover !important;
    background-position: center !important;
}
&::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:linear-gradient(90deg,var(--white),transparent);
}
.content{
    width:50rem;
    position:relative;
}
.content h3{
    font-size:5rem;
    color:var(--black);
    text-transform:uppercase;   
}
.content p{
    font-size:1.8rem;
    color:var(--black);
    text-transform:capitalize; 
    line-height:2;
    padding:1rem 0;
}
.content .btn{
    padding: 10px;
    height:5rem;
    width:8rem;
    line-height: 3rem;
    font-size:1.5rem;
    background:var(--black);
    color:var(--white);
    cursor:pointer;
    border-radius: 5%;
    text-align:center; 
    border-top: var(--border);   
}
.btn:hover{
    font-size:2rem;
    background:var(--yellow);
}
.swiper-button-prev,
.swiper-button-next{
    top:initial;
    bottom:0;
    left:initial;
    right:0;
    height:7rem;
    width:7rem;
    line-height:7rem;
    font-size: 3rem;
    background:var(--white);

    &:hover{
        background:var(--yellow);
    }
}
.swiper-button-prev{
    right:7rem;
}
.swiper-button-prev,
.swiper-button-next{
    font-size:3rem;
    color:var(--black);
   
}
.heading{
    margin-bottom: 3rem;
    font-size:2.5rem;
    color:var(--black);
    text-transform:capitalize;
    padding-left:1rem;
    border-left: 1rem solid var(--yellow);
 }
.about{
    .row{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        gap:2rem;
    }
    .video{ 
       margin-top: -30px;
       flex:1 1 45rem;
    }
    
}
.about h3{
        font-size:2.5rem;
        color:var(--black);
        text-transform:capitalize;    
}
.box-container{
    margin-top: 3rem;
    display:grid;
    grid-template-columns:auto auto auto auto;
    gap:2rem;
    align-items: flex-end;
    
}
.box{
    text-align:center;
    background:var(--light-bg);
    padding:3rem 2rem;
    }
.box-container h3{
    font-size:3rem;
    color:var(--black);
    text-transform:capitalize;    
}
.box-container p{
    font-size:1.5rem;
    color:var(--yellow);
    line-height: 1.5;  
}
.services{
    background: var(--light-bg);
}
.services .box-container{
    margin-top: 3rem;
    display:grid;
    grid-template-columns:30% 30% 30%;
    gap:2rem;
    align-items: flex-end;
}
.services .box{
    text-align: center;
    padding: 3rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border:var(--border)
}
.services img{
    height:7rem;
    margin-bottom:.5rem;
    border-radius: 5px;
}
 img:hover{
   transform:translateY(-1rem)
}
.services h3{
    font-size:1.7rem;
    color:var(--black);
    text-transform:capitalize;    
    padding:1rem 0;
}
.services p{
    font-size:1.4rem;
    color:rgb(10, 75, 150);
    line-height: .9;  
}








/*MEDIA QUERY*/

/*media query 1200px screen*/
@media(max-width:1200px){
    .header{
        padding:1.5rem 2rem;
    }
    section{
        padding:3rem 5%;
    }
}


/*media query 991px screen*/
@media(max-width:991px){
   html{
    font-size:55%;
    }
    .icons #menu-btn{  
     display:inline-block;  
    }
    section{
        padding:3rem 2rem;
    }
    .header .navbar{
    position:absolute;
    top:99%;
    left:0;
    right:0;
    background:var(--white);
    border-top:var(--border);
    border-bottom:var(--border);
    clip-path: polygon(0 0,100% 0,100% 0,0 0);   
   }

.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%); 
    
 }

 .header .navbar a{
    display:block;
    margin:2rem;
}
.search-form input{
    width:70%;
    margin-left:50px;
    
 }
.contact-info{
    position:fixed;
    width:100%;
    background:var(--white);
    height:100%;
    text-align:center;
    box-shadow:0 0 0 100vw rgba(0,0,0,.7);
 }
}

/*media query 768px screen*/
@media(max-width:768px){
    html{
         font-size:50%;
     }
   
     .search-form input{
        width:60%;
        margin-left:150px; 
       
     }
     .home .slide{
        justify-content: center;
     }
     .box-container{
        margin-top: 3rem;
        display:grid;
        grid-template-columns:auto auto;
        gap:2rem;
        
    }
    .services .box-container{
        margin-top: 3rem;
        display:grid;
        grid-template-columns:50% 50%;
        gap:2rem;
        align-items: flex-end;
    }
 }


/*media query 450px screen*/
@media(max-width:450px){
    html{
         font-size:50%;
     }
     .search-form input{
        width:60%;
        margin-left:100px;  
     }
     .contact-info{
        position:fixed;
        width:100%;
        background:var(--white);
        height:100%;
        text-align:center;
        box-shadow:0 0 0 100vw rgba(0,0,0,.7);
     }
 }